APP_NAME=RingNet
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://example.com
APP_TIMEZONE=Asia/Ho_Chi_Minh

APP_LOCALE=vi
APP_FALLBACK_LOCALE=vi

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=web_quan_ly_du_an
DB_USERNAME=ringnet
DB_PASSWORD=

SYSTEM_USER_EMAIL=admin@example.com

SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local
